:root{

/* bg-colors*/
--primary-bg-color : rgb(17,17,17);
--secondary-bg-color : rgb(34,34,34);
--active-bg-color : rgb(233,233,233);
--danger-bg-color : #ec2f2f;
--success-bg-color : #36e32a;

/*text colors*/
--text-primary-color : rgb(237,237,237);
--text-secondary-color : rgb(200,200,200);
--text-tertiary-color : rgb(150,150,150);
--text-active-color : rgb(24,24,24);
--text-danger-color : #ec2f2f;

/* paddings */
--padding-sm : 0.5rem;
--padding-md : 1rem;
--padding-lg : 1.5rem;
--padding-xl : 2rem;
--padding-2xl : 2.5rem;

/* margins */
--margin-sm : 0.5rem;
--margin-md : 1rem;
--margin-lg : 1.5rem;
--margin-xl : 2rem;
--margin-2xl : 2.5rem;

/* gutter */
--gutter-sm : 0.5rem;
--gutter-md : 1rem;
--gutter-lg : 1.5rem;
--gutter-xl : 2rem;
--gutter-2xl : 2.5rem;

/* font sizes */
--font-size-sm : 0.875rem;
--font-size-md : 1rem;
--font-size-lg : 1.125rem;
--font-size-xl : 1.25rem;
--font-size-2xl : 1.5rem;

/* border radius */
--border-radius-sm : 0.2rem;
--border-radius-md : 0.25rem;
--border-radius-lg : 0.3rem;
--border-radius-xl : 0.4rem;
--border-radius-2xl : 0.5rem;
}